<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="init"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="INIT"/>
    <stringAttribute key="TALEND_JOB_ID" value="_Mvtl4FlWEe6TdLwXg1_TXA"/>
    <stringAttribute key="TALEND_JOB_NAME" value="createVariables_maulfi"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
